<!-- /*********************************************************************************
 *  WEB322 – Assignment 4
 *  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.
 *  No part of this assignment has been copied manually or electronically from any other source
 *  (including web sites) or distributed to other students.
 *
 *  Name: Benny Yang Student ID: 112654223 Date: July 5 2023
 *
 * ONLINE (CYCLIC) LINK: https://lazy-tan-fox-belt.cyclic.app
 *
 ********************************************************************************/ -->
<div class="container" style="padding-top: 90px">
  <div class="row">
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned for something marginally acceptable.</p>
    </aside>
    <section class="main col-md-9">
      <article>
        <h2>About</h2>
        <p>What's your favourite MMO?</p>
        <p>
          I didnt realize I had to refill this page for the last mark so I guess
          I'll change it now.
        </p>
        <p>
          Massive Open Worlds: MMOs are known for their vast and immersive open
          worlds. From sprawling fantasy realms to futuristic sci-fi cities,
          these virtual landscapes are filled with diverse environments,
          including lush forests, treacherous dungeons, towering mountains, and
          bustling cities. Exploring these worlds and uncovering hidden secrets
          is a thrilling aspect of MMO gameplay.
        </p>
        <p>
          Social Interaction: MMOs are built around social interaction, enabling
          players to connect with each other in a virtual community. Whether
          it's joining guilds, participating in player-run events, or simply
          chatting with fellow adventurers, MMOs foster a sense of camaraderie
          and cooperation among players.
        </p>
        <p>
          Player vs. Environment (PvE): MMOs often offer a rich PvE experience,
          where players can embark on epic quests, defeat challenging monsters
          and bosses, and unravel deep storylines. PvE content can range from
          solo adventures to group-based raids, requiring coordination and
          teamwork to overcome powerful adversaries.
        </p>
      </article>
    </section>
  </div>
</div>