<!-- /*********************************************************************************
 *  WEB322 – Assignment 5
 *  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.
 *  No part of this assignment has been copied manually or electronically from any other source
 *  (including web sites) or distributed to other students.
 *
 *  Name: Benny Yang Student ID: 112654223 Date: July 11 2023
 *
 * ONLINE (CYCLIC) LINK: https://lazy-tan-fox-belt.cyclic.app
 *
 ********************************************************************************/ -->

<div class="container" style="padding-top: 90px">
  <div>
    <form method="post" action="/categories/add">
      <fieldset>
        <legend>Post Content</legend>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="category">Category:</label>
              <input
                class="form-control"
                id="category"
                name="category"
                type="text"
                autofocus
              />
            </div>
          </div>
        </div>
      </fieldset>
      <hr />
      <input
        type="submit"
        class="btn btn-primary pull-right"
        value="Add Category"
      /><br /><br /><br />
    </form>
  </div>
</div>